.dashboard_card {
  height: 100%;
  padding-top: 20px;
  padding-left: 5px;
}

.v-application a {
  color: #000;

  text-decoration: none;
}

amplify-authenticator{
  --amplify-primary-color: #4BA4C2;
  --amplify-primary-tint: #00A3C2;
  --amplify-primary-shade: #11ABC2;
}

amplify-sign-up{
  --amplify-primary-color: #4BA4C2;
  --amplify-primary-tint: #00A3C2;
  --amplify-primary-shade: #11ABC2;
}